<%= form_for @user_session do |f| %>
  <fieldset>
    <legend>Sign In</legend>

    <%= f.label :email %>
    <%= f.text_field :email %></div>

    <%= f.label :password %>
    <%= f.password_field :password %>

    <%= f.check_box :remember_me %> <label for="signin_remember_me">Remember Me</label>

    <%= f.button 'Sign In' %>
  </fieldset>
<% end -%>

<p><%= link_to "Forgot Password?", forgot_password_path %>
