<!doctype html>
<!--[if lt IE 7]> <html class="lt-ie10 lt-ie9 lt-ie8 lt-ie7 no-js"> <![endif]-->
<!--[if IE 7]>    <html class="lt-ie10 lt-ie9 lt-ie8 no-js"> <![endif]-->
<!--[if IE 8]>    <html class="lt-ie10 lt-ie9 no-js"> <![endif]-->
<!--[if IE 9]>    <html class="lt-ie10 no-js"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <title>Foo</title>
  <%= stylesheet_link_tag "screen", :media => "all" %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag :modernizr %>
  <link rel="apple-touch-icon-precomposed" href="apple-touch-icon.png">
  <%= yield :head %>
</head>
<body>

  <%= render 'shared/flash' %>
  <%= yield %>

  <!--[if IE 8]>
    <%= javascript_include_tag 'ie8' %>
  <![endif]-->
  <%= javascript_include_tag "application" %>
  <%# All page specific JavaScript so go into content_for(:body_close) %>
  <%= yield :body_close %>
</body>
</html>
